{% if HistoryLogs is defined and HistoryLogs is not empty %}
    {% set className = HistoryLogs|first.className|split("\\") %}
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead align="center">
                <tr>
                    <th>Action Type</th>
                    <th>User Name</th>
                    <th>Change Time</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for HistoryLog in HistoryLogs %}
                    <tr>
                        {% if HistoryLog.actionType is constant('HistorizationBundle\\Entity\\ChangeLogHistory::ACTION_TYPE_INSERT') %}
                            <td><span class="label label-success">{{ constant('HistorizationBundle\\Entity\\ChangeLogHistory::ACTION_TYPE_INSERT_TEXT') }}</span></td>
                        {% elseif HistoryLog.actionType is constant('HistorizationBundle\\Entity\\ChangeLogHistory::ACTION_TYPE_UPDATE') %}
                            <td><span class="label label-warning">{{ constant('HistorizationBundle\\Entity\\ChangeLogHistory::ACTION_TYPE_UPDATE_TEXT') }}</span></td>
                        {% elseif HistoryLog.actionType is constant('HistorizationBundle\\Entity\\ChangeLogHistory::ACTION_TYPE_DELETE') %}
                            <td><span class="label label-danger">{{ constant('HistorizationBundle\\Entity\\ChangeLogHistory::ACTION_TYPE_DELETE_TEXT') }}</span></td>
                        {% endif %}
        
                        <td>{{ HistoryLog.username }}</td>
                        <td>{{ HistoryLog.createdAt|date('d-M-Y H:i') }}</td>
                        <td>
                            {% if HistoryLog.updates is not empty %}
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Column Name</th>
                                            <th>Old Record</th>
                                            <th>New Record</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for updateDetail in HistoryLog.updates %}
                                            <tr>
                                                <td>{{ updateDetail.columnName }}</td>
                                                <td>{{ updateDetail.oldRecord|default('-') }}</td>
                                                <td>{{ updateDetail.newRecord|default('-') }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <strong>Notice: </strong> No history records found.
    </div>
{% endif %}
